[submodule "SiteForStudentsGroupBackend"]
	path = SiteForStudentsGroupBackend
	url = https://github.com/Endektor/SiteForStudentsGroupBackend.git
[submodule "SiteForStudentsGroup_frontend"]
	path = SiteForStudentsGroup_frontend
	url = https://github.com/delafers/SiteForStudentsGroup_frontend.git
